*{
    padding: 0;
    margin: 0;
    background-color: gray;
    color: rgb(68, 38, 38);
}
body{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-right: 20px;
    padding-left: 30px;
}
header{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    background-color: rgb(15, 100, 6);
    color: #f9f9f9;
    text-align: left;
}
main{
    display: flex;
    justify-content: center;
    padding: 4px;
    margin: 35px;
}
h1{
    width: 100%;
    text-align: center;
    background-color: rgb(15, 100, 6);
    color: #f9f9f9;
    padding: 2px;
    margin: 3px;

}
nav{
    width: 100%;
    height: auto;
    background-color: rgb(15, 100, 6);
    text-align: right;
    margin-top: 10px;
}
a{
    background-color: rgb(15, 100, 6);
    color: #f9f9f9;
}
aside{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: space-around;
    margin-top: 15px;
    gap: 20px;
    padding-top: 3px;
}

.soy{
    margin-top: 20px;
    padding: 20px;
}
#articulo{
    width: 100%;
    height: auto;
}
h2{
    width: 90%;
    border: 3px solid bisque;
    margin: 20px;
    padding: 3px;
    background-color: rgb(15, 100, 6);
    color:#f9f9f9;  
    border-radius: 5px; 
    text-align: center;
}
strong{
    font-size: 20px;
    color: rgb(2, 13, 2);
}
ul{
    background-color: #f9f9f9;
    color:black;
    font-size: 15px;
}
section{
    width: 33%;
    background-position: center;
}
p {
    width: 50%;
    text-align: center;
}
.title{
    display: flex;
    flex: content;
    justify-items: baseline;
    align-items: flex-start;
}
article{
    display: flex;
    flex-flow: wrap;
}
img{
    border-radius: 5px;
    border: 3px  solid white;
    margin: 40px 5px 10px 9px;

}
input{
    background-color: white;
    border-radius: 4px;
}
button{
    border: 1px solid bisque;
    background-color: rgb(149, 108, 80);
    color:#f9f9f9;  
}
#foto{
    border-radius: 50%;
    margin-top: 80px;
    border: 3px solid greenyellow;

}
.apuestas{
    background-color: rgb(15, 100, 6);
    color: white;
    
}
#centrar{
    text-align: start;
    margin-right: 20px;
    padding: 10px;
}
